name: background_location_transmitter
description: "A production-grade Flutter plugin for background location tracking
  and server-side transmission using native foreground services."

version: 0.0.1

repository: https://github.com/gowsikraja/background_location_transmitter

environment:
  sdk: ^3.10.0
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.background_location_transmitter
        pluginClass: BackgroundLocationTransmitterPlugin
